body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #F0F8FF;
}

nav {
  background: #007BFF;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  transition: background 0.3s, color 0.3s;
  border-radius: 5px;
}

nav a:hover {
  background: #0056b3;
  color: #fff;
}

.titulo{
  text-align: center;
  background-color: #0056b3;
  color:white;
  margin: 20px;
  border-radius: 5px;
}

.section {
  background:white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}
.SobreMimSection{
  background:white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  margin: 20px;
}
.ContactBody{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F0F8FF;
}
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.form-container h2 {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.form-group textarea {
    resize: vertical;
}
.form-group button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #0056b3;
}

.AboutMe{
  text-align: center;
}

.icon {
  width: 10px;
  height: 10px;
}